@inject NavigationManager NavigationManager

<header>
    <div><img src="logo.png" alt="Lares & Penates" @onclick="() => { _showNavMenu = !_showNavMenu; }"/></div>
    <nav class="@(_showNavMenu ? "show" : "")">
        <ul>
            <li><span @onclick='() => OnClickLink("/Login")'>HOME</span></li>
            <li><span @onclick='() => OnClickLink("/Catalog")'>CATALOG</span></li>
            <li><span @onclick='() => OnClickLink("/Product")'>PRODUCT</span></li>
            <li><span @onclick='() => OnClickLink("/Cart")'>CART</span></li>
            <li><span @onclick='() => OnClickLink("admin/Products")'>SOIL & FERTILIZERS</span></li>
        </ul>
    </nav>
</header>

@code{
    private bool _showNavMenu;
    
    private void OnClickLink(string location)
    { 
        NavigationManager.NavigateTo(location);
    }
}
