@using FlowerShopBlazor.Models
@using FlowerShopBlazor.Common
@inject AppState _appState
@inject IToastService _toastService

<div class="card">
    <img src="@Model.Image" alt="product image"/>
    <div class="title">@Model.Title</div>
    <span class="price">@Model.Price.ToString("C0")</span>
    <Button OnClick="OnClickAdd">ADD TO CART</Button>
    @if (Model.OldPrice.HasValue) {
        <span class="sale">SALE</span>
        <span class="old-price">@Model.OldPrice?.ToString("C0")</span>
    }
</div>

@code {
    [Parameter]
    public ProductModel Model { get; set; }

    private void OnClickAdd()
    {
        _appState.Cart.Add(Model);
        _toastService.ShowToast("Added to your cart", ToastType.Success);
    }
}