@using FlowerShopBlazor.Common
@inject ToastService ToastService
@implements IDisposable

<div class="toast @_cssClass">
    <img src="@_imgSrc" alt="icon"/>
    <label>@_message</label>
</div>

@code {
    private string _message;
    private string _cssClass;

    private string _imgSrc = "img/error.png";

    protected override void OnInitialized()
    {
        ToastService.OnShow += ShowToast;
        ToastService.OnHide += HideToast;
    }

    private void ShowToast(string message, ToastType type)
    {
        _message = message;
        _imgSrc = type switch
        {
            ToastType.Success => "img/success.png",
            ToastType.Question => "img/question.png",
            _ => "img/error.png"
            };
        _cssClass = "appear";
        StateHasChanged();
    }

    private void HideToast()
    {
        _cssClass = "disappear";
        StateHasChanged();
    }

    public void Dispose()
    {
        ToastService.OnShow -= ShowToast;
    }

}